div.gallery {
    margin-top: 15px;
    background-color: var(--color-background-inv);
    color: var(--color-base-inv);
    border-radius: 5px;
  }
  
  div.gallery:hover {
    opacity: 0.7;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
  }
  
  @media only screen and (max-width: 700px) {
    .responsive {
      width: 49.99999%;
      margin: 6px 0;
    }
  }
  
  @media only screen and (max-width: 500px) {
    .responsive {
      width: 100%;
    }
  }
  
  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }

  .image-thumb {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    }

    .image-thumb:hover {opacity: 0.7;}

  /* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed; /* Stay in place */
    z-index: 200; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }
  
  /* Modal Content (Image) */
  .modal-content {
    margin: auto;
    display: block;
    max-width: 90vw;
    max-height: 90vh;
    object-fit: contain;
  }
  
  /* Caption of Modal Image (Image Text) - Same Width as the Image */
  #caption {
    text-align: center;
    color: #ccc;
    padding: 10px 0;
  }
  
  /* Add Animation - Zoom in the Modal */
  .modal-content, #caption {
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
  }
    
  
  /* 100% Image Width on Smaller Screens */
  @media only screen and (max-width: 80vw){
    .modal-content {
      width: 100%;
    }
  }