<!doctype html>

<html lang="{{ it.lang }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ it.title || metas.title }} - {{ metas.site }}</title>

    <meta name="supported-color-schemes" content="light dark">
    <meta name="theme-color" content="hsl(220, 20%, 100%)" media="(prefers-color-scheme: light)">
    <meta name="theme-color" content="hsl(220, 20%, 10%)" media="(prefers-color-scheme: dark)">
    
    <link rel="stylesheet" href="/styles.css">
    <link rel="alternate" href="/feed.xml" type="application/atom+xml" title="{{ metas.site }}">
    <link rel="alternate" href="/feed.json" type="application/json" title="{{ metas.site }}">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon.png">
    <link rel="canonical" href="{{ url |> url(true) }}">
    <script src="/js/main.js" type="module"></script>
    {{ it.extra_head?.join("\n") }}
  </head>
  <body>
  <div class="waves" style="z-index:10;position:fixed;height:200px;width:100%;">
    <svg width="100%" height="200px" fill="none" viewBox="0 0 2048 200">
        <g>
        <path
            class="wave-color"
            d="
                M 0 77 
                C 273,183
                  822,-40
                  2048,77 

                V -700 
                H 0 
                V 77 
                Z">
          <animate 
          repeatCount="indefinite" 
          attributeName="d" 
          dur="15s" 
          values="
            M0 57 
            c 473,283
              822,-40
              2048,57 

            V -700 
            H 0 
            V 57 
            Z; 

            M0 90 
            c 473,-40
              1222,283
              2048,90 

            V -700 
            H 0 
            V 90 
            Z; 

            M0 77 
            c 973,260
              1722,-53
              2048,77 

            V -700
            H 0 
            V 77 
            Z; 

            M0 57 
            c 473,283
              822,-40
              2048,57 

            V -700 
            H 0 
            V 57 
            Z
            ">
        </animate> 
        </path>
        </g>
    </svg>
</div>
  <!--Hero area end
    <div class="hero_area">
        <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 38" preserveAspectRatio="none" shape-rendering="auto">
            <defs>
                <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
            </defs>
            <g class="parallax" transform="scale(1,-1) translate(0,-77)">
                <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7)" />
                <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
                <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
                <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
            </g>
        </svg>
    </div>
    Hero area end-->
    <nav class="navbar">
      <a href="/" class="navbar-home">
          <img src="{{ metas.image }}" height="32" width="32"/>
          {{ metas.site }}
      </a>

      <ul class="navbar-links">
      {{- for entry of search.pages("menu.visible=true", "menu.order") }}
        <li>
          <a href="{{ entry.url }}"{{ if entry.url == url }} aria-current="page"{{ /if }}>
            {{ entry.menu.title || entry.title }}
          </a>
        </li>
      {{ /for }}
      {{- for link of it.menu_links }}
        <li>
          <a href="{{ link.href }}">
            {{ link.text }}
          </a>
        </li>
      {{ /for }}
      <li>
        <script>
          let theme = localStorage.getItem("theme") || (window.matchMedia("(prefers-color-scheme: dark)").matches
            ? "dark"
            : "light");
          document.documentElement.dataset.theme = theme;
          function changeTheme() {
            theme = theme === "dark" ? "light" : "dark";
            localStorage.setItem("theme", theme);
            document.documentElement.dataset.theme = theme;
          }
        </script>
        <button class="button" onclick="changeTheme()">
          <span class="icon">◐</span>
        </button>
      </li>
      </ul>
    </nav>

    <main class="{{ it.bodyClass }}">
      {{ content }}
    </main>

  </body>
</html>
