/* oceanos design system */
@import "css/ds.css";

/* Custom components */
@import "css/navbar.css";
@import "css/page.css";
@import "css/post-list.css";
@import "css/post.css";
@import "css/comments.css";
@import "css/gallery.css";
@import "css/timeline.css";

/* Make the links black */
:root {
  --color-link: var(--color-base);
  --color-link-hover: var(--color-dim);
}

/* Page layout */
main {
  padding: var(--row-gap-medium) 0;
  max-width: min(100% - 15vw, 45em);
  margin: 0 auto;

  & > :first-child {
    margin-top: 0;
  }
}

/* Search tweak */
.search {
  margin-top: var(--row-gap-xsmall);
}

.wave-color {
  fill: var(--color-background-inv);
}

.waves {
  z-index:1;
  position:fixed;
  height:200px;
  width:100%;
}

.body-position {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width:100vw;
  z-index: 70;
  height:100vh;
}

.page {
  position:relative;
  z-index:2;
}

tag-filter {
  display: block;
  font-family: Arial, sans-serif;
  border-radius: 5px;
  margin-bottom: 10px;
}
.tag-filter-title {
  background-color: var(--color-highlight);
  padding: 10px;
  cursor: pointer;
  user-select: none;
  display: flex;
  align-items: center;
  justify-items: center;
  gap: 4px;
}
.tag-filter-content {
  background-color: var(--color-highlight);
  padding: 10px;
  display: none;
}
.tag-filter-content.expanded {
  display: block;
}
.tag {
  display: inline-block;
  background-color: var(--color-background);
  padding: 5px 10px;
  margin: 5px;
  border-radius: 3px;
  cursor: pointer;
}
.tag.selected {
  background-color: #007bff;
  color: white;
}